.loaderbackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* High z-index to be on top of other content */
}
.loader {
  border-top: 5px solid #087E8B; /* Blue border top */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
.loadertext{
  position:absolute;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}